/* Style the body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Style the header */
header {
    background-color: #bdbdbd;
    color: white;
    padding: 0px;  
    text-align: center;
}

/* Style the navigation bar */
nav {
    background-color: #88a4b8;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
/*
    display: inline-block;
    width: 80%;*/
}

/* Style images inside nav */
nav img {
    width: 10%;
}

/* Style the main content */
main {
    background-color: #e6e608;
    font-size: 18px;
    padding: 20px;
}

/* Style the footer */
footer {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Commented out the list items styling */
li {
    display: inline-block;
    width: 150px;
    padding: 10px;
    text-align: center;
} 

/* Style the h1 */
h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #0073e6;
}

/* Style the paragraph text */
p {
    line-height: 1.6;
}




